<section class="section has-text-centered content">
  <div class="container content">
    <h1 class="header">Prêmios NewInc e Conceito Terra Mundi</h1>
    <hr class="separator" width="160px">
    <div class="icons columns subtitle">
      <div class="column is-one-quarter-desktop is-one-quarter-tablet is-one-mobile">
        <img class="terraicon" src="/assets/img/terramundi/exame.png" width="50px">
        <p class="">Guia Exame Sustentabilidade 2017</p>
      </div>
      <div class="column is-one-quarter-desktop is-one-quarter-tablet is-one-mobile">
        <img class="terraicon" src="/assets/img/terramundi/bestworld.jpg" width="150px">
        <p>Best for the World 2016</p>
      </div>
      <div class="column is-one-quarter-desktop is-one-quarter-tablet is-one-mobile">
        <img class="terraicon" src="/assets/img/terramundi/istoe.svg" width="150px">
        <p>Prêmio ISTOÉ Empresas Conscientes 2014</p>
      </div>
      <div class="column is-one-quarter-desktop is-one-quarter-tablet is-one-mobile">
        <img class="terraicon" src="/assets/img/terramundi/santander.jpg" width="150px">
        <p>Prêmio Santander Obra Sustentável 2012 - Maior Nota do Brasil</p>
      </div>
    </div>
  </div>
</section>

<section class="hero is-large">
  <hr class="separator" width="160px">
  <div class="container is-fluid">
      <gallery id="awards"></gallery>
    </div>
</section>