.separator {
    background: #2cd48f;
    margin-left: auto;
    margin-right: auto;
}

.icons {
    font-size: 1em;
    font-weight: bold;
    margin-top: 50px;
}

.bg-image {
    background-position-y: 95%;
}

gallery {
    float: none;
    margin: 0 auto;
    max-width: 850px;
}

@media screen and (max-width: 768px) {
    gallery {
        height: 350px;
    }
}