<section class="section has-text-centered investors is-medium">
    <div class="container">
      <h1 class="title is-uppercase">
        Lorem ipsum <span class="has-text-primary">dolor sit amet</span>
      </h1>
      <div class="columns">
        <div class="column">
          <img src="../../../assets/img/placeholder.png" alt="Logo" width="200" class="animated fadeInUp delay-.9s">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis vel turpis ac bibendum. Etiam velit
            augue, ornare eget ex vitae, dictum luctus arcu. Suspendisse varius nunc eget nunc pellentesque, in molestie
            tellus pellentesque. Praesent et condimentum metus, elementum luctus nulla. Nam vestibulum leo diam, rhoncus
            tincidunt nulla rhoncus non.
          </p>
        </div>
        <div class="column">
          <img src="../../../assets/img/placeholder.png" alt="Logo" width="200" class="animated fadeInUp delay-.9s">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis vel turpis ac bibendum. Etiam velit
            augue, ornare eget ex vitae, dictum luctus arcu. Suspendisse varius nunc eget nunc pellentesque, in molestie
            tellus pellentesque. Praesent et condimentum metus, elementum luctus nulla. Nam vestibulum leo diam, rhoncus
            tincidunt nulla rhoncus non.
          </p>
        </div>
        <div class="column">
          <img src="../../../assets/img/placeholder.png" alt="Logo" width="200" class="animated fadeInUp delay-.9s">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis vel turpis ac bibendum. Etiam velit
            augue, ornare eget ex vitae, dictum luctus arcu. Suspendisse varius nunc eget nunc pellentesque, in molestie
            tellus pellentesque. Praesent et condimentum metus, elementum luctus nulla. Nam vestibulum leo diam, rhoncus
            tincidunt nulla rhoncus non.
          </p>
        </div>
        <div class="column">
          <img src="../../../assets/img/placeholder.png" alt="Logo" width="200" class="animated fadeInUp delay-.9s">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis vel turpis ac bibendum. Etiam velit
            augue, ornare eget ex vitae, dictum luctus arcu. Suspendisse varius nunc eget nunc pellentesque, in molestie
            tellus pellentesque. Praesent et condimentum metus, elementum luctus nulla. Nam vestibulum leo diam, rhoncus
            tincidunt nulla rhoncus non.
          </p>
        </div>
      </div>
    </div>
  </section>