<section id="plants" class="hero is-large has-text-centered">
  <div class="hero-head">
    <div class="container content">
      <h1 class="header">Apartamentos de 2 e 3 Quartos</h1>
      <hr class="separator" width="160px">
    </div>
  </div>
  <div class="columns">
    <div class="column is-half-desktop is-half-tablet is-one-mobile">
      <gallery id="plants" (indexChange)="indexChanged()"></gallery>
    </div>
    <div class="column">
      <div class="tabs is-toggle is-toggle-rounded is-full-width is-centered">
        <ul>
          <li id="first-plant" (click)="goTo(0, $event)" class="is-active"><a>2 Quartos<br>(64m²)</a></li>
          <li id="second-plant" (click)="goTo(1, $event)"><a>3 Quartos<br>(88m²)</a></li>
          <li id="third-plant" (click)="goTo(2, $event)"><a>3 Quartos<br>(90m²)</a></li>
        </ul>
      </div>

      <table class="table is-striped">
        <tbody>
          <tr>
            <th>Área</th>
            <th>{{ area }}</th>
          </tr>
          <tr>
            <th>Quartos</th>
            <th>{{ rooms }}</th>
          </tr>
          <tr>
            <th>Vagas de Garagem</th>
            <th>{{ garage }}</th>
          </tr>
          <tr>
            <th>Sacada com Churrasqueira</th>
            <th>{{ balcony }}</th>
          </tr>
        </tbody>
      </table>

      <a class="price button is-large" (click)="openModal()">Pergunte o preço agora <i class="la la-caret-right"></i></a>
    </div>
  </div>
</section>


<div class="modal" #plantsModal>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Receba mais detalhes</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">


      <iframe id="JotFormIFrame-91594632902663" title="Teste de cta" onload="window.parent.scrollTo(0,0)"
        allowtransparency="true" allowfullscreen="true" allow="geolocation; microphone; camera"
        src="https://form.jotformz.com/91594632902663" frameborder="0" style="width: 1px;
          min-width: 100%;
          height:439px;
          border:none;" scrolling="no">
      </iframe>
      <script type="text/javascript">
        var ifr = document.getElementById("JotFormIFrame-91594632902663");
        if (window.location.href && window.location.href.indexOf("?") > -1) {
          var get = window.location.href.substr(window.location.href.indexOf("?") + 1);
          if (ifr && get.length > 0) {
            var src = ifr.src;
            src = src.indexOf("?") > -1 ? src + "&" + get : src + "?" + get;
            ifr.src = src;
          }
        }
        window.handleIFrameMessage = function (e) {
          if (typeof e.data === 'object') { return; }
          var args = e.data.split(":");
          if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[(args.length - 1)]); } else { iframe = document.getElementById("JotFormIFrame"); }
          if (!iframe) { return; }
          switch (args[0]) {
            case "scrollIntoView":
              iframe.scrollIntoView();
              break;
            case "setHeight":
              iframe.style.height = args[1] + "px";
              break;
            case "collapseErrorPage":
              if (iframe.clientHeight > window.innerHeight) {
                iframe.style.height = window.innerHeight + "px";
              }
              break;
            case "reloadPage":
              window.location.reload();
              break;
            case "loadScript":
              var src = args[1];
              if (args.length > 3) {
                src = args[1] + ':' + args[2];
              }
              var script = document.createElement('script');
              script.src = src;
              script.type = 'text/javascript';
              document.body.appendChild(script);
              break;
            case "exitFullscreen":
              if (window.document.exitFullscreen) window.document.exitFullscreen();
              else if (window.document.mozCancelFullScreen) window.document.mozCancelFullScreen();
              else if (window.document.mozCancelFullscreen) window.document.mozCancelFullScreen();
              else if (window.document.webkitExitFullscreen) window.document.webkitExitFullscreen();
              else if (window.document.msExitFullscreen) window.document.msExitFullscreen();
              break;
          }
          var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
          if (isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
            var urls = { "docurl": encodeURIComponent(document.URL), "referrer": encodeURIComponent(document.referrer) };
            iframe.contentWindow.postMessage(JSON.stringify({ "type": "urls", "value": urls }), "*");
          }
        };
        if (window.addEventListener) {
          window.addEventListener("message", handleIFrameMessage, false);
        } else if (window.attachEvent) {
          window.attachEvent("onmessage", handleIFrameMessage);
        }
      </script>
    </section>
  </div>
</div>