<section id="plants" class="hero is-large has-text-centered">
  <div class="hero-head">
    <div class="container content">
      <h1 class="header">Apartamentos de 2 e 3 Quartos</h1>
      <hr class="separator" width="160px">
    </div>
  </div>
  <div class="columns">
    <div class="column is-half-desktop is-half-tablet is-one-mobile">
      <gallery id="plants" (indexChange)="indexChanged()"></gallery>
    </div>
    <div class="column">
      <div class="tabs is-toggle is-toggle-rounded is-full-width is-centered">
        <ul>
          <li id="first-plant" (click)="goTo(0, $event)" class="is-active"><a>2 Quartos<br>(64m²)</a></li>
          <li id="second-plant" (click)="goTo(1, $event)"><a>3 Quartos<br>(88m²)</a></li>
          <li id="third-plant" (click)="goTo(2, $event)"><a>3 Quartos<br>(90m²)</a></li>
        </ul>
      </div>

      <table class="table is-striped">
        <tbody>
          <tr>
            <th>Área</th>
            <th>{{ area }}</th>
          </tr>
          <tr>
            <th>Quartos</th>
            <th>{{ rooms }}</th>
          </tr>
          <tr>
            <th>Vagas de Garagem</th>
            <th>{{ garage }}</th>
          </tr>
          <tr>
            <th>Sacada com Churrasqueira</th>
            <th>{{ balcony }}</th>
          </tr>
        </tbody>
      </table>

      <a class="price button is-large" (click)="openModal()">Simule seu plano de pagamento&nbsp;
        <i class="fas fa-angle-right"></i>
      </a>
    </div>
  </div>
</section>


<div class="modal" #plantsModal>
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image">
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
</div>