@media screen and (max-width: 768px) {
    gallery {
        height: 350px;
    }
}

.container {
    margin-top: 110px;
    margin-bottom: 60px;
}

.hero {
    margin-top: 50px;
    margin-bottom: 50px;
}

.center {
    background: Red;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.tabs li {
    max-width: 100px;
}

.tabs.is-toggle li.is-active a {
    background-color: #f17221 !important;
    border-color: #f17221 !important;
}

.separator {
    background: #f17221;
    margin-left: auto;
    margin-right: auto;
}

.table {
    width: 310px;
    margin-top: 50px;
    margin-left: auto;
	margin-right: auto;
}

.price {
    background-color: #1e9cfc;
    border: 0;
    font-weight: bold;
    height: 82px;
    position: absolute;
    right: 0;
    border-radius: 0;
    color: white;
    box-shadow: 10px 10px #1167a8;

}

.price:hover {
    color: white;
}