<section id="decorated" class="hero is-large has-text-centered">
  <div class="hero-head">
    <div class="container content">
      <h1 class="header">Espaço Interno</h1>
      <hr class="separator" width="160px">
      <p class="">
        As plantas do Terra Mundi Eldorado foram projetadas para garantir o melhor aproveitamento do espaço e o conforto
        em todos os cômodos. <br>
        Na entrega das chaves você já terá ar condicionado instalado, sem custo adicional, nos quartos e salas.<br> Além
        disso, os pisos serão de porcelanato 60x60, conferindo requinte e sofisticação em cada detalhe do acabamento.
      </p>
    </div>
    <a class="visit button" (click)="openModal()">Agende AGORA visita ao apartamento decorado&nbsp;
      <i class="fas fa-angle-right"></i>
    </a>
  </div>
  <gallery id="decorated"></gallery>
</section>


<div class="modal" #decoratedModal>
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image">
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
</div>