gallery {
    height: 650px;
}

.container {
    margin-top: 100px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    gallery {
        height: 350px;
    }

    .visit {
        font-size: 0.8em;
    }
}

.hero-head {
    background-color: #e3e3e3;
    padding: 2em;
}

.separator {
    background: #2cd48f;
    margin-left: auto;
    margin-right: auto;
}

.visit {
    background-color: #d1301b;
    font-weight: bold;
    border: 0;
    z-index: 2;
    height: 82px;
    position: absolute;
    left: 0;
    border-radius: 0;
    color: white;
    box-shadow: -10px 10px #a01d0c;

}