<section class="hero is-large has-text-centered">
  <div class="hero-head">
    <div class="container content">
      <h1 class="header">Apartamentos Decorados</h1>
      <hr class="separator" width="160px">
      <p class="">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh <br>
        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad <br>
        minim veniam, quis nostrud exerci tation.
      </p>
    </div>
    <a class="visit button is-large">Visite o Decorado<i class="la la-caret-right"></i></a>
  </div>
  <gallery id="decorated"></gallery>
</section>