<section class="section">
  <div class="columns">
    <div class="column">
      <gallery id="first"></gallery>
    </div>
    <div class="column content is-medium">
      <h1 class="title">Uma oportunidade incomparável</h1>
      <p>
        Você já sabe que os lançamentos Terra Mundi tem um padrão muito acima do mercado. Mas você sabe por que o
        Eldorado é a melhor versão de todas?
      </p>
      <ol type="1">
        <li>Porque ele é um condomínio <strong>CLUBE</strong>. Lazer e diversão sem sair de casa!</li>
        <li>Porque só quem entende de <strong>SUSTENTABILIDADE</strong> de verdade consegue oferecer conforto com
          <strong>TAXA DE CONDOMÍNIO REDUZIDA!</strong></li>
        <li>Porque todos os apartamentos são entregues com <strong>AR CONDICIONADO</strong>!</li>
        <li>Porque é o <strong>ÚLTIMO</strong> empreendimento a ser lançado no incrível Bairro Eldorado. Isso significa
          <strong>VALORIZAÇÃO ACIMA DA MÉDIA</strong> para seu investimento!
        </li>
        <li>Porque a entrada é <strong>FACILITADA</strong> e os planos de pagamento são personalizados!</li>
        <li>Porque se você comprar agora poderá escolher as <strong>MELHORES UNIDADES!</strong></li>
      </ol>
      <a class="chat button is-large" (click)="openModal()">Simule seu <br>plano de Pagamento<i class="la la-caret-right"></i></a>
    </div>
  </div>
</section>

<div class="modal" #galleryModal>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Te ligamos agora mesmo!</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="field">
        <div class="control has-icons-left">
          <input class="input" type="text" placeholder="Seu nome">
          <span class="icon is-small is-left">
            <i class="la la-user"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <div class="control has-icons-left">
          <input class="input" type="text" placeholder="Seu telefone">
          <span class="icon is-small is-left">
            <i class="la la-phone-square"></i>
          </span>
        </div>
      </div>

    <a class="button is-primary is-medium is-fullwidth is-uppercase">Me ligue grátis</a>
    </section>
  </div>
</div>