<section id="gallery" class="section">
  <div class="columns">
    <div class="column">
      <gallery id="first"></gallery>
    </div>
    <div class="column content is-medium">
      <h1 class="title">Por que o Terra Mundi</h1>
      <ol type="1">
        <li>Porque é o <strong>ÚLTIMO</strong> empreendimento do Bairro Eldorado. <strong>VALORIZAÇÃO ACIMA DA
            MÉDIA</strong> para seu investimento!</li>
        <li>Por que a eficiência de água e energia garantem <strong>SUSTENTABILIDADE</strong> com <strong>TAXA DE
            CONDOMÍNIO REDUZIDA!</strong></li>
        <li>Porque é um condomínio <strong>CLUBE</strong>. Natureza e lazer sem sair de casa!</li>
        <li>Porque todos os apartamentos são entregues com <strong>AR CONDICIONADO</strong>!</li>
        <li>Porque a entrada é <strong>FACILITADA</strong> com planos de pagamento personalizados!</li>
        <li>Porque se você comprar agora poderá escolher as <strong>MELHORES UNIDADES</strong>!</li>
      </ol>
      <a class="chat button is-large" (click)="openModal()">Receba mais detalhes&nbsp;<i class="fas fa-angle-right"></i></a>
    </div>
  </div>
</section>

<div class="modal" #galleryModal>
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image">
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
</div>