<section id="commons" class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column content is-medium">
        <h1 class="title">Complexo de lazer de 10 mil m²</h1>
        <hr class="separator" width="160px">
        <ul style="list-style-type:square;">
          <li>Áreas verdes com praças</li>
          <li>Espaços de relaxamento</li>
          <li>3 piscinas</li>
          <li>Diversas quadras de esporte</li>
          <li>Salões de festas</li>
          <li>Churrasqueiras</li>
        </ul>
      </div>
  
      <div class="column">
        <gallery id="commons"></gallery>
      </div>
    </div>

  </div>
</section>