gallery {
    height: 600px;
}

.container {
    margin-top: 60px;
    margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
    gallery {
        height: 350px;
    }
}

.separator {
    background: #f18d21;
    margin-left: -10px;
}