<section class="section has-text-centered content">
  <div class="container">
    <h1 class="header">Depoimentos</h1>
    <hr class="separator" width="160px">

  </div>
  <div class="columns subtitle is-mobile is-multiline">
    <div class="column is-one-third-desktop is-one-third-tablet is-one-mobile">
      <figure class="image is-128x128">
        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
      <h6>Nome do Cooperado</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae lacus vel mauris fringilla tempor.
        Fusce vulputate semper ipsum, vel varius urna fermentum eget.</p>
    </div>
    <div class="column is-one-third-desktop is-one-third-tablet is-one-mobile">
      <figure class="image is-128x128">
        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
      <h6>Nome do Cooperado</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae lacus vel mauris fringilla tempor.
        Fusce vulputate semper ipsum, vel varius urna fermentum eget.</p>
    </div>
    <div class="column is-one-third-desktop is-one-third-tablet is-one-mobile">
      <figure class="image is-128x128">
        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
      <h6>Nome do Cooperado</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae lacus vel mauris fringilla tempor.
        Fusce vulputate semper ipsum, vel varius urna fermentum eget.</p>
    </div>

  </div>
</section>