.section {
    padding: 0;
}

.separator {
    background: #2cd48f;
    margin-left: auto;
    margin-right: auto;
}

.column {
    padding: 3em;
}

div.columns > div:nth-of-type(odd) {
    background: #f3f3f3;
}

div.columns > div:nth-of-type(even) {
    background: #e0e0e0;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
}