<section id="concept" class="hero is-large">
  <div class="container">
    <div class="columns">
      <div class="column content">
        <h1 class="title has-text-white has-text-centered">O seu momento de viver o verdadeiro Eldorado!</h1>
        <hr class="separator" width="160px">
        <gallery id="concept"></gallery>
      </div>
    </div>
    <div class="content has-text-centered">
      <h1 class="title has-text-white">Credibilidade construída com sucesso - Outros empreendimentos Terra Mundi:</h1>
    </div>
  </div>
</section>