.container {
    margin-top: 80px;
}

.hero {
    padding: 3em;
    background: rgb(3, 28, 35);
}

ul {
    list-style: none;
}

ul li::before {
    content: "\25A0";
    color: orange;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

gallery {
    float: none;
    margin: 0 auto;
    max-width: 850px;
}

@media screen and (max-width: 768px) {
    gallery {
        height: 350px;
    }
}

.separator {
    background: orange;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin-top: 3em;
}

.hero:after {
    content:'';
    position: relative;
    left: 0;
    right: 0;
    bottom: -65px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 25px rgb(3, 28, 35);;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
}