<app-hero-hotsite></app-hero-hotsite>
<app-gallery-hotsite></app-gallery-hotsite>
<app-advantages-hotsite></app-advantages-hotsite>
<app-commons-hotsite></app-commons-hotsite>
<app-decorated-hotsite></app-decorated-hotsite>
<app-plants-hotsite></app-plants-hotsite>
<app-localization-hotsite></app-localization-hotsite>
<app-concept-hotsite></app-concept-hotsite>
<app-others-hotsite></app-others-hotsite>
<app-testimonials-hotsite></app-testimonials-hotsite>
<app-contact-hotsite></app-contact-hotsite>