<section id="localization" class="hero is-large has-text-centered">
  <div class="hero-head">
    <div class="container content">
      <h1 class="header has-text-white">Bairro Eldorado: infraestrutura, segurança e tranquilidade</h1>
      <hr class="separator" width="160px">
      <p class="has-text-white">
        O Eldorado é um bairro planejado, por isso conta com sólida presença de comércios, escolas, restaurantes, áreas
        de lazer e ruas amplas e arborizadas.
      </p>
    </div>
  </div>
</section>

<div class="columns">
  <div class="column">
    <gallery id="localization"></gallery>
  </div>
  <div class="column content is-medium">
    <h1 class="title">Próximo do Terra Mundi Eldorado:</h1>
    <ul style="list-style-type:square;">
      <li>Shopping Plaza D'oro</li>
      <li>Parque Bernardo Elis (Macambira) - 76 mil m² de área verde</li>
      <li>Supermercados Store, Extra, Assaí e Carrefour</li>
      <li>Restaurantes diversos, incluindo McDonald's</li>
    </ul>
  </div>
</div>