<section class="hero is-large has-text-centered">
  <div class="hero-head">
    <div class="container content">
      <h1 class="header has-text-white">Localização</h1>
      <hr class="separator" width="160px">
      <p class="has-text-white">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh <br>
        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad <br>
        minim veniam, quis nostrud exerci tation.
      </p>
    </div>
  </div>
</section>

<div class="columns">
  <div class="column">
    <gallery id="localization"></gallery>
  </div>
  <div class="column content is-medium">
    <h1 class="title">Lorem ipsum</h1>
    <ul style="list-style-type:square;">
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ul>
  </div>
</div>