<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <app-navigation></app-navigation>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title animated fadeInUp has-text-info is-uppercase">
          MÁQUINA DE MARKETING E VENDAS ESPECIALIZADA EM LANÇAMENTOS IMOBILIÁRIOS
      </h1>
      <h2 class="subtitle animated fadeInUp delay-.8s has-text-white is-uppercase">
          MAIS LEADS, MAIOR CONVERSÃO, VENDA DE MELHOR QUALIDADE
      </h2>
    </div>
  </div>
</section>