.hero {
    background: #000;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0,0.6)), url('/assets/img/hero.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.title {
    font-size: 3.5em;
}

.subtitle {
    font-size: 2em;
    font-weight: 300;
}