<nav id="navbar" class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-white">
      <img src="/assets/img/logo.png">
    </a>

    <a role="button" #navBurger (click)="toggleNavbar()" class="navbar-burger burger has-text-white" aria-label="menu"
      aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div #navMenu class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item is-uppercase">
        <a class="navbar-item has-text-white">
          O Que Fazemos?
        </a>
        <a class="navbar-item has-text-white">
          Mas Por Que?
        </a>
        <a class="navbar-item has-text-white">
          Nosso Diferencial
        </a>
        <a class="navbar-item has-text-white">
          O Que Prometemos
        </a>
        <a class="navbar-item has-text-white">
          Quem Somos
        </a>
        <a class="navbar-item has-text-white">
          Contate-nos
        </a>
      </div>
    </div>
    </div>
</nav>