<nav id="navbar" class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <img class="logo" src="/assets/img/logo.png">
    
    <a role="button" #navBurger (click)="toggleNavbar()" class="navbar-burger burger has-text-white" aria-label="menu"
      aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div #navMenu class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item is-uppercase">
        <a class="navbar-item has-text-white">
          O Que Fazemos
        </a>
        <a class="navbar-item has-text-white">
          Nossa fórmula mágina
        </a>
        <a class="navbar-item has-text-white">
          Cases
        </a>
        <a class="navbar-item has-text-white">
          Quem Somos
        </a>
        <a class="navbar-item has-text-white">
          Contatos
        </a>
      </div>
    </div>
    </div>
</nav>