<section class="section has-text-centered has-text-white">
  <div class="container content">
    <h3 class="has-text-white">Quem Somos</h3>
    <p>
      Juntamos mais de 20 anos de experiência no mercado imobiliário, no Brasil e exterior, com mais de 50 anos de
      experiência em tecnologia.
      <br>
      Somos um grupo de empreendedores que se uniu pela visão de que negócios devem ser feitos somente quando são
      positivos para todos os envolvidos.
      <br>
      Acreditamos que:
    </p>

    <div class="blockquote-wrapper">
      <div class="blockquote">
        <h4>
          A longo prazo, uma abordagem honesta e justa ao fazer negócios será sempre mais rentável.
        </h4>
        <h5 class="has-text-white">&mdash;Robert Bosch<br><em>1921</em></h5>
      </div>
    </div>
  </div>
</section>