<section class="section has-text-centered content">
  <h1 class="header">Outros empreendimentos Terra Mundi</h1>
  <hr class="separator" width="160px">
</section>

<div class="curtain">
  <div class="curtain__wrapper">
    <div class="curtain__panel curtain__panel--left white">
      <img src="/assets/img/terramundi/santos.png">
      2014
    </div>
    <div class="curtain__prize image" style="background-image: url('/assets/img/terramundi/fachada-dia.jpg')">
      <a class="button is-primary ">100% VENDIDO</a>
    </div>
    <div class="curtain__panel curtain__panel--right red">
      <a class="button is-primary is-inverted is-outlined" (click)="openModal()">Mais Informações</a>
    </div>
  </div>
</div>

<div class="curtain">
  <div class="curtain__wrapper">
    <div class="curtain__panel curtain__panel--left white">
      <img src="/assets/img/terramundi/america.png">
      2016
    </div>
    <div class="curtain__prize image" style="background-image: url('/assets/img/terramundi/fachada-dia.jpg')">
      <a class="button is-primary ">100% VENDIDO</a>
    </div>
    <div class="curtain__panel curtain__panel--right red">
      <a class="button is-primary is-inverted is-outlined" (click)="openModal()">Mais Informações</a>
    </div>
  </div>
</div>

<div class="curtain">
  <div class="curtain__wrapper">
    <div class="curtain__panel curtain__panel--left white">
      <img src="/assets/img/terramundi/cascavel.png">
      2017
    </div>
    <div class="curtain__prize image" style="background-image: url('/assets/img/terramundi/fachada-dia.jpg')">
      <a class="button is-link ">Unidades Disponíveis</a>
    </div>
    <div class="curtain__panel curtain__panel--right blue">
      <a class="button is-primary is-inverted is-outlined" (click)="openModal()">Mais Informações</a>
    </div>
  </div>
</div>

<div class="curtain">
  <div class="curtain__wrapper">
    <div class="curtain__panel curtain__panel--left white">
      <img src="/assets/img/terramundi/office.png">
      2017
    </div>
    <div class="curtain__prize image" style="background-image: url('/assets/img/terramundi/fachada-dia.jpg')">
      <a class="button is-link ">Unidades Disponíveis</a>
    </div>
    <div class="curtain__panel curtain__panel--right blue">
      <a class="button is-primary is-inverted is-outlined" (click)="openModal()">Mais Informações</a>
    </div>
  </div>
</div>

<div class="curtain">
  <div class="curtain__wrapper">
    <div class="curtain__panel curtain__panel--left white">
      <img src="/assets/img/terramundi/one.png">
      2021
    </div>
    <div class="curtain__prize image" style="background-image: url('/assets/img/terramundi/fachada-dia.jpg')">
      <a class="button is-warning ">Em Construção</a>
    </div>
    <div class="curtain__panel curtain__panel--right orange">
      <a class="button is-primary is-inverted is-outlined" (click)="openModal()">Mais Informações</a>
    </div>
  </div>
</div>

<div class="curtain">
  <div class="curtain__wrapper">
    <div class="curtain__panel curtain__panel--left white">
      <img src="/assets/img/terramundi/anapolis.png">
      2021
    </div>
    <div class="curtain__prize image" style="background-image: url('/assets/img/terramundi/fachada-dia.jpg')">
      <a class="button is-warning ">Em Construção</a>
    </div>
    <div class="curtain__panel curtain__panel--right orange">
      <a class="button is-primary is-inverted is-outlined" (click)="openModal()">Mais Informações</a>
    </div>
  </div>
</div>

<div class="modal" #othersModal>
  <div class="modal-background"></div>
  <div class="modal-content">
    <iframe src="https://app.monstercampaigns.com/c/w6cihmvj0nv6odkb686e/" style="width: 100%; height: 100vh;"></iframe>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
</div>