<section class="section has-text-centered content">
  <div class="container">
    <div class="icons columns subtitle is-uppercase	is-mobile is-multiline">
      <div class="column is-one-third-desktop is-one-third-tablet is-half-mobile">
        <img src="assets/img/terramundi/Empreendimento_1.jpg">
      </div>
      <div class="column is-one-third-desktop is-one-third-tablet is-half-mobile">
          <img src="assets/img/terramundi/Empreendimento_2.jpg">
      </div>
      <div class="column is-one-third-desktop is-one-third-tablet is-half-mobile">
          <img src="assets/img/terramundi/Empreendimento_3.jpg">
      </div>
      <div class="column is-one-third-desktop is-one-third-tablet is-half-mobile">
          <img src="assets/img/terramundi/Empreendimento_4.jpg">
      </div>
      <div class="column is-one-third-desktop is-one-third-tablet is-half-mobile">
          <img src="assets/img/terramundi/Empreendimento_5.jpg">
      </div>
      <div class="column is-one-third-desktop is-one-third-tablet is-half-mobile">
          <img src="assets/img/terramundi/Empreendimento_6.jpg">
      </div>
    </div>
  </div>
</section>