.container {
    margin-top: 80px;
    margin-bottom: 60px;
}

.section {
    background: rgb(7, 56, 70);
}

.separator {
    background: #2cd48f;
    margin-left: auto;
    margin-right: auto;
}

.icons {
    font-size: 1em;
    font-weight: bold;
    color: #2cd48f;
    margin-top: 50px;
}

.terraicon {
    margin: 5px;
}