<section class="section has-text-centered content">
  <div class="container">
    <h1 class="header has-text-white">Projeto Sustentável</h1>
    <hr class="separator" width="160px">
    <p class="has-text-white">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae lacus vel mauris fringilla tempor. <br>
      Fusce vulputate semper ipsum, vel varius urna fermentum eget. Aliquam a volutpat mauris. <br>
      Sed venenatis eget lacus vel interdum.
    </p>

    <div class="icons columns subtitle is-uppercase	is-mobile is-multiline">
      <div class="column is-one-fifth-desktop is-one-third-tablet is-half-mobile">
        <img src="https://via.placeholder.com/200">
        <br>
        Empresa Premiada
      </div>
      <div class="column is-one-fifth-desktop is-one-third-tablet is-half-mobile">
        <img src="https://via.placeholder.com/200">
        <br>
        Energia Solar
      </div>
      <div class="column is-one-fifth-desktop is-one-third-tablet is-half-mobile">
        <img src="https://via.placeholder.com/200">
        <br>
        Aproveitamento da Água
      </div>
      <div class="column is-one-fifth-desktop is-one-third-tablet is-half-mobile">
        <img src="https://via.placeholder.com/200">
        <br>
        Conceito Sustentável
      </div>
      <div class="column is-one-fifth-desktop is-one-third-tablet is-half-mobile">
        <img src="https://via.placeholder.com/200">
        <br>
        Ar Condicionado
      </div>
      <div class="column is-one-fifth-desktop is-one-third-tablet is-half-mobile">
        <img src="https://via.placeholder.com/200">
        <br>
        Mobiliário de Jardim
      </div>
      <div class="column is-one-fifth-desktop is-one-third-tablet is-half-mobile">
        <img src="https://via.placeholder.com/200">
        <br>
        Porcelanato 60X60
      </div>
      <div class="column is-one-fifth-desktop is-one-third-tablet is-half-mobile">
        <img src="https://via.placeholder.com/200">
        <br>
        Clube Anexado
      </div>
      <div class="column is-one-fifth-desktop is-one-third-tablet is-half-mobile">
        <img src="https://via.placeholder.com/200">
        <br>
        Economia de Água e Energia
      </div>
      <div class="column is-one-fifth-desktop is-one-third-tablet is-half-mobile">
        <img src="https://via.placeholder.com/200">
        <br>
        Localização Privilegiada
      </div>
    </div>

  </div>
</section>