<section id="advantages" class="section has-text-centered content">
  <div class="container">
    <h1 class="header has-text-white">Sustentabilidade que você sente no bolso!</h1>
    <hr class="separator" width="160px">
    <p class="has-text-white">
      O Terra Mundi tem um conceito que ganhou prêmios em todo o Brasil, pois é projetado para respeitar o meio ambiente
      e, ao mesmo tempo, trazer o máximo de conforto e economia aos seus moradores.
    </p>

    <div class="icons columns subtitle is-uppercase	is-mobile is-multiline">
      <div class="column is-one-third-desktop is-one-third-tablet is-half-mobile">
        <img class="terraicon" src="assets/img/terramundi/icone_6.svg" width="150px">
        <br>
        Energia solar para <br>elevadores e iluminação
      </div>
      <div class="column is-one-third-desktop is-one-third-tablet is-half-mobile">
          <img class="terraicon" src="assets/img/terramundi/icone_2.svg" width="150px">
        <br>
        Reaproveitamento de<br> água para uso em limpeza
      </div>
      <div class="column is-one-third-desktop is-one-third-tablet is-half-mobile">
          <img class="terraicon" src="assets/img/terramundi/icone_3.svg" width="150px">
        <br>
        Aquecimento de água <br>através de painéis solares
      </div>

      <div class="column is-one-third-desktop is-one-third-tablet is-half-mobile">
        <img class="terraicon" src="assets/img/terramundi/icone_1.svg" width="150px">
        <br>
        Ar condicionado <br>instalado e sem custo extra
      </div>
      <div class="column is-one-third-desktop is-one-third-tablet is-half-mobile">
        <img class="terraicon" src="assets/img/terramundi/icone_4.svg" width="150px">
        <br>
        Porcelanato de <br> alto padrão (60X60)
      </div>
      <div class="column is-one-third-desktop is-one-third-tablet is-half-mobile">
        <img class="terraicon" src="assets/img/terramundi/icone_5.svg" width="150px">
        <br>
        Uma das maiores <br>áreas verdes da cidade
      </div>
    </div>

  </div>
</section>