<section class="section has-text-centered content">
  <div class="container">
    <div class="columns">
      <div class="column">
        <span class="icon"><i class="la la-phone-square"></i></span><br>0800 000 0000
      </div>
      <div class="column">
        <span class="icon"><i class="la la-whatsapp"></i></span><br>+55 (62) 99624 2399
      </div>
      <div class="column">
        <span class="icon"><i class="la la-envelope"></i></span><br>contato@terramundieldorado.goiania.br
      </div>
    </div>
  </div>
</section>