<section class="section has-text-centered content">
  <div class="container">
    <div class="columns">
      <div class="column">
        <span class="icon"><i class="fas fa-phone-alt"></i></span><br>0800 024 4214
      </div>
      <div class="column">
        <span class="icon"><i class="fab fa-whatsapp"></i></span><br>+55 (62) 99624 2399
      </div>
      <div class="column">
        <span class="icon"><i class="far fa-envelope"></i></span><br>contato@terramundieldorado.goiania.br
      </div>
    </div>
  </div>
</section>