<div class="about">
  <section class="section is-medium has-text-centered">
    <div class="container">
      <h1 class="title is-uppercase has-text-centered">
        O QUE FAZEMOS
      </h1>
      <h2 class="subtitle has-text-centered">
        <b>Captamos um grande volume de novos clientes</b><br>
        para nossas marcas parceiras, sendo remunerados <br>
        100% por performance.
      </h2>
      <div class="columns">

        <div class="column">
          <div class="box">
            <i class="icon la la-code-fork"></i>
            <h1>UX/UI DESIGN</h1>
          </div>
        </div>

        <div class="column">
          <div class="box">
            <i class="icon la la-thumbs-up"></i>
            <h1>SEO & ADWORDS </h1>
          </div>
        </div>

        <div class="column">
          <div class="box">
            <i class="icon la la-cart-plus"></i>
            <h1>OTIMIZAÇÃO DE CONVERSÃO</h1>
          </div>
        </div>

        <div class="column">
          <div class="box">
            <i class="icon la la-tty"></i>
            <h1>VENDAS</h1>
          </div>
        </div>

        <div class="column">
          <div class="box">
            <i class="icon la la-line-chart"></i>
            <h1>DATA ANALYTICS</h1>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="is-large">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column ">
          <p class="lead">
            CONSTRUÍMOS UM <br>
            <b>NOVO FUNIL DE MARKETING &
              <br> VENDAS</b> PARA CAPTAR<br> CLIENTES DE ALTO <br>VALOR
          </p>
        </div>
        <div>
          <img src="../../../assets/img/funil.png" height="100%">
        </div>
      </div>
    </div>
  </section>
</div>