.brand {
    margin-top: 2em;
    margin-left: 2em;
}

.hero {
    background: #000;
    background-image: linear-gradient(to right, rgba(3, 28, 35, 1), rgba(0, 0, 0, 0)), url('/assets/img/terramundi/fachada-dia.jpg');
    background-position: center;
    background-position-y: 90%;
    background-size: cover;
    min-height: 100vh;
}

.title {
    font-size: 3.5em;
}

.subtitle {
    font-size: 2em;
    font-weight: 300;
}

.button i{
    margin-right: 15px;
}