<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <app-navigation-hotsite></app-navigation-hotsite>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title animated fadeInUp is-uppercase has-text-white">
        Terra Mundi Eldorado
      </h1>
      <h1 class="subtitle animated fadeInUp is-uppercase has-text-white">
        Conceito premiado e histórico de sucesso!
      </h1>
      <h2 class="subtitle animated fadeInUp has-text-white is-uppercase">
        2 e 3 Dormitórios <br> Complexo de lazer de 10 mil m²
      </h2>
    </div>
  </div>
</section>