<footer class="footer">
  <div class="container content has-text-centered">
    <h1>Contato</h1>
    <hr class="separator" width="160px">
    <div class="columns">
      <div class="column">
        <span class="icon"><i class="la la-phone-square"></i></span>0800 000 0000
      </div>
      <div class="column">
        <span class="icon"><i class="la la-whatsapp"></i></span>+55 (00) 00000 0000
      </div>
      <div class="column">
        <span class="icon"><i class="la la-envelope"></i></span>email@email.com
      </div>
    </div>
    <div class="has-text-centered">
      <span>Powered by</span>
      <a routerLink="/imoble"><img src="/assets/img/logo.png" class="logo"></a>
    </div>
  </div>
</footer>