<section id="whatwedo" class="section has-text-centered investors is-medium">
  <div class="container">
    <h1 class="title is-uppercase">
      O que <span class="has-text-primary">Fazemos</span>
    </h1>
    <div class="columns content">
      <div class="column">
        <h5>Geramos mais Leads</h5>
        <p>
          Porque somos especializados em mídias digitais, estabelecemos massiva presença online e geramos forte
          reputação para nossos empreendimentos (busca orgânica, mídia paga e plataformas imobiliárias especializadas),
          captando compradores que hoje não estão sendo alcançados.
        </p>
      </div>
      <div class="column">
        <h5>Convertemos melhor/vendemos mais</h5>
        <p>
          Nossas páginas na internet e canais de comunicação são otimizados continuamente para proporcionar máxima
          eficiência de conversão e trazem todas as informações necessárias para que nossos vendedores saibam direcionar
          a venda de forma mais assertiva. Todo o processo é otimizado com base em dados de comportamento dos clientes.
        </p>
      </div>
      <div class="column">
        <h5>Efetuamos vendas de alta qualidade</h5>
        <p>
          Nosso processo de vendas é estruturado e previsível, nossa equipe de segmentada para diferentes etapas do
          fluxo de vendas e com seus incentivos alinhados aos interesses da incorporadora. Temos um controle rígido
          sobre todos os negócios realizados e mantemos relacionamento com os clientes após a assinatura do contrato. O
          resultado: vendas de alta qualidade e menor ocorrência de distratos e disputas judiciais.
        </p>
      </div>
      <div class="column">
        <h5>Estabelecemos parcerias de longo prazo, 100% baseadas em resultado</h5>
        <p>
          Somente somos remunerados mediante negócios realizados. Buscamos relacionamentos de longo prazo com nossos
          clientes, tanto compradores como vendedores. Prezamos pela excelência e uniformidade na comunicação e
          relacionamento, fortalecendo a reputação da incorporadora, mesmo em prospecções e campanhas que não resultem
          em venda.
        </p>
      </div>
    </div>
  </div>
</section>